<level-selector level="$ctrl.level"></level-selector>

<time-counter></time-counter>

<steps-counter></steps-counter>

<button ng-click="$ctrl.restart()">Restart</button>

<table>
    <tbody>
    <tr ng-repeat="row in $ctrl.board">
        <td ng-repeat="cell in row">
            <block number="cell" on-move="$ctrl.onMove(cell)"></block>
        </td>
    </tr>
    </tbody>
</table>