<label for="levelSelector">Level</label>
<select id="levelSelector" ng-model="$ctrl.level">
    <option value="8">8</option>
    <option value="15">15</option>
    <option value="24">24</option>
</select>